{% extends "core/base.html" %}
{% load i18n %}
{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="max-w-md mx-auto">
  <h1 class="text-2xl font-bold mb-4">{% trans "Reset your password" %}</h1>
  <p class="mb-4">{% trans "We've emailed you instructions for setting your password" %}.</p>
  <p class="mb-4">{% trans "If you don't receive an email, please make sure you've entered the email address you registered with." %}</p>
  <p>{% trans "If you have forgotten the email PLEASE contact us" %}</p>
</div>
{% endblock %}
